body {
    background-image: url("../img/avion.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8) ;
}