# Ignorar entorno virtual
.venv/

# Archivos compilados de Python
__pycache__/

# Base de datos local
*.sqlite3

# Archivos de entorno y configuraciones
*.env
*.log

# Configuraciones de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
